tr {
   padding: 1em;
   font-family: "Poiret One", cursive;
   border-bottom: 1px solid black;
   text-align: center;
}
th {
   padding: 1em;
   font-family: "Poiret One", cursive;
   border-bottom: 1px solid black;
   display: wrap;
   text-align: center;
}

#vaciar-carrito {
    text-decoration: none;
    color: red;
    font-family: "Poiret One", cursive;
    font-weight: bolder;
}

#finalizar-compra {
    text-decoration: none;
    color: #6ae981;
    font-family: "Poiret One", cursive;
    font-weight: bolder;
    font-size: 2em;
    padding-right: 3em;
}

#finalizar-compra:hover {
    text-decoration: none;
    color: #093;
}

#header {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    background: #e9ceb3;
    text-align: center;
    width: 100%;   
}


@media (min-width: 750px) {
    #header {
        text-align: right;
    }
}

.borrar-producto {
    width: 1em;
    height: 1em;
    border-radius: 90%;
    background-color: #e9ceb3;
    padding-left: .4em;
    padding-right: .4em;
    padding-bottom: .3em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.borrar-producto:hover {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}


.imagen-producto {
	max-width: 100%;
    width: 300px; 
    height: 400px;
}

#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;

}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    box-shadow: 3px 4px 3px 3px grey;
    border-radius: 5px;
    transition: .2s all;
    display: block;
    position: absolute;
    right:0;
    border: 1px dashed black;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}