.productos {
  padding: 1em;
  display: flex;
  flex-wrap: wrap; }

.productos div {
  display: inline-block;
  margin: auto; }

.tarjeta {
  display: flex;
  padding: 0.5em; }

.tarjeta h5 {
  font-family: "Poiret One", cursive;
  font-weight: bold; }

.tarjeta div {
  border: 1px solid black; }

.imagen__producto img {
  object-fit: cover; }

h5, h6 {
  text-align: center; }



#carrito {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}
.dropdown-menu {
    position: relative;
    top: 2em;}

.btn-danger {
    color: #fff;
    background-color: #b882d3;
    border-color: #862db3;
}